h3 = I18n.t('notifier_mailer.confirm_email.title')
= I18n.t('notifier_mailer.confirm_email.body')
= link_to(I18n.t('notifier_mailer.confirm_email.button_text'), confirm_email_api_v1_users_url(confirmation_token: @user.email_confirmations.last.confirmation_token))
