h3 = I18n.t('notifier_mailer.reset_password.title')
= I18n.t('notifier_mailer.reset_password.body')
= link_to(I18n.t('notifier_mailer.reset_password.button_text'), confirm_email_api_v1_users_url(reset_password_token: @user.reset_password_confirmations.last.reset_token))
